@import 'styles/variables';

.button {
  background-color: $blue;
  border: none;
  border-radius: 0.4rem;
  color: $white;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: $semi-bold;
  padding: 1.4rem 1.8rem;
  text-transform: uppercase;
  transition: 0.3s all ease;

  * {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $darksky;
    outline: none;
  }

  &:disabled {
    background-color: $silver;
  }
}
