// FONTS
$font-title: 'Assistant';
$font-text: 'Assistant';
$font-special: 'Luckiest Guy', cursive;
$regular: 500;
$bold: 800;

// COLORS
$darkgreen: #264653;
$green: #2a9d8f;
$darksky: #0096c7;
$sky: #90e0ef;
$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$lightgray: #d6d1cd;
$gray: #8b8982;
$white: #f8f7f7;
$black: #1f1f1f;
