// FONTS
$font-title: 'Assistant';
$font-text: 'Assistant';
$font-special: 'Luckiest Guy', cursive;
$regular: 500;
$semi-bold: 700;
$bold: 800;

// COLORS
$darkgreen: #5d7b6f;
$green: #a4c3a2;
$lightgreen: #b0d4b8;
$darksky: #5dc4d3;
$sky: #a0eaf3;
$lightsky: #d7f9fa;
$smokewhite: #eae7d6;
$darkgray: #9ba2a5;
$silver: #b8c4c2;
$darkblue: #547597;
$blue: #a0bdc5;
$white: #f3f2f7;
$black: #35192d;
$red: #e76f51;
$orange: #f4a261;
$yellow: #e9c46a;
