@use 'utils';
@use 'mixin' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700;800&family=Luckiest+Guy&display=swap');

* {
  box-sizing: border-box;
  color: $black;
  font-family: $font-text, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: $green;
    color: $white;
  }
}

html {
  font-size: 8px;

  body {
    background-color: $white;
    font-size: 1.6rem;
    font-weight: $regular;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-title;
      font-weight: $bold;
    }
  }

  @include from-tablet {
    font-size: 9px;
  }

  @include from-desktop {
    font-size: 10px;
  }
}
