@import 'styles/mixin';
@import 'styles/variables';

.container {
  @include full-page(linear-gradient(to top right, $smokewhite, $darkgray));
  justify-content: flex-start;
  padding: 6rem 0;

  h1 {
    align-self: flex-start;
    border-bottom: 0.4rem solid $white;
    color: $white;
    font-size: 4rem;
    margin-bottom: 4rem;
    margin-left: 6rem;
    text-transform: uppercase;
  }

  .list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 1rem 6rem;
    width: 100%;

    li {
      align-items: center;
      background-color: rgba($white, 0.4);
      border-radius: 0.8rem;
      border: 0.2rem solid rgba($darkgray, 0.6);
      color: $darkblue;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: 2.6rem;
      font-family: $font-special;
      padding: 1.8rem 2rem;
      text-transform: uppercase;
      transition: 0.2s all ease;
      width: 100%;

      &.error,
      &.empty,
      &.loader {
        background-color: transparent;
        border: none;
        display: block;
        font-family: $font-text;
        font-weight: $semi-bold;
        padding: 0;

        .iconSad {
          font-size: 3.2rem;
          margin-left: 0.8rem;
          transform: translateY(0.6rem);
        }
      }

      &.error {
        color: $red;
        text-transform: none;
      }

      &.loader * {
        color: $darkblue !important;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      span {
        flex: 1;
      }

      .icon {
        margin-left: 2rem;
        opacity: 0;
        transition: 0.2s all ease;

        * {
          color: $darkblue;
        }
      }

      &:hover,
      &:focus {
        background-color: rgba($yellow, 1);
        outline: none;

        .icon {
          opacity: 1;
        }
      }
    }
  }

  .button {
    background-color: transparent;
    border-radius: 6rem;
    font-weight: $bold;
    margin-top: 3rem;
    padding: 0;

    &,
    * {
      color: $darkgray;
    }

    .icon {
      font-size: 2rem;
      margin-right: 1rem;
      transform: translateY(0.2rem);
    }

    &:hover,
    &:focus {
      &,
      * {
        color: $silver;
      }
    }
  }

  .modalContent {
    h2 {
      margin-bottom: 4rem;
      text-transform: uppercase;
    }

    .modalBtn {
      background-color: $red;
      border-radius: 4rem;
      width: 100%;

      &.safe {
        background-color: $green;
      }

      &:hover,
      &:focus {
        background-color: $orange;

        &.safe {
          background-color: $lightgreen;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }
}
