@import 'styles/variables';

$padding-side: 0.4rem;
$radius: 6rem;
$border-width: 0.6rem;
$border-line: $border-width solid $darkblue;

.container {
  position: absolute;

  .cell {
    background-color: white;
    height: 20%;
    position: absolute;
    width: 20%;
    z-index: 1;

    &.top {
    }
    &.right {
    }
    &.bottom {
      border-bottom: $border-line;
      border-left: $border-line;
      border-right: $border-line;
    }
    &.left {
    }
    &.topLeft {
    }
    &.topRight {
    }
    &.topBottom {
      border-top: $border-line;
      border-bottom: $border-line;
    }
    &.leftRight {
      border-left: $border-line;
      border-right: $border-line;
    }
    &.leftBottom {
    }
    &.rightBottom {
    }
    &.topRightBottom {
      border-radius: 0 $radius $radius 0;
      border-bottom: $border-line;
      border-top: $border-line;
      border-right: $border-line;
    }
    &.rightBottomLeft {
    }
    &.bottomLeftTop {
      border-radius: $radius 0 0 $radius;
      border-left: $border-line;
      border-top: $border-line;
      border-bottom: $border-line;
    }
    &.leftTopRight {
      border-radius: $radius $radius 0 0;
      border-left: $border-line;
      border-top: $border-line;
      border-right: $border-line;
    }
    &.full {
      border: $border-line;
    }
  }
}
