@import 'styles/mixin';
@import 'styles/variables';

.container {
  @include full-page(linear-gradient(to bottom, $darksky, $darkblue));
  padding-bottom: 10rem;

  h1 {
    color: $white;
    font-family: $font-special;
    font-size: 6rem;
    font-weight: $regular;
    margin-bottom: 6rem;
    text-transform: uppercase;
    user-select: none;
  }

  .button {
    background-color: $white;
    border-radius: 6rem;
    color: $darksky;
    font-weight: $bold;
    width: 80%;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }

    &:hover,
    &:focus {
      background-color: $lightgreen;
      color: $darkgreen;
    }
  }

  .play {
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;

    .button {
      margin-bottom: 0.8rem;
    }

    p {
      color: $white;
      font-size: 2rem;
      font-weight: $semi-bold;
      text-transform: uppercase;
    }
  }
}
