@import 'styles/mixin';
@import 'styles/variables';

.container {
  @include full-page(linear-gradient(to bottom left, $smokewhite, $silver));
  align-items: flex-start;
  padding-bottom: 10rem;

  h1 {
    color: $darkblue;
    font-size: 5rem;
    text-transform: uppercase;
  }

  .input {
    color: $darkblue;
    font-size: 2.2rem;
    font-weight: $semi-bold;
    margin-top: 2rem;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }

  .error {
    color: $red;
    font-size: 2rem;
    font-weight: $semi-bold;
    margin-top: 1.8rem;
    text-align: right;
    width: 100%;
  }

  .loader {
    color: $darkblue;
    margin-top: 3.8rem;
    margin-left: auto;
    margin-right: 0.6rem;
  }

  .button {
    align-self: flex-end;
    font-size: 2.2rem;
    margin-top: 2rem;
    width: 18rem;

    .icon {
      font-size: 2rem;
      margin-left: 1rem;
      transform: translateY(0.2rem);
    }
  }
}
